<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'universe', 'form', 'index' %>
  <title>User Register</title>
</head>

<body>
  <div class="main-container">
    <div>
      <form action="<%= registration_path(resource_name) %>" method="post" id="form2" class="onlyreg">
        <div class="head_div">
          <h2 class="head" style="margin-top: 0px">Sign up</h2>
        </div>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <label for="user_name">Name:</label><br />
          <input type="text" id="user_name" name="user[name]" autofocus="true" />
        </div>
        <br /> <br />

        <div class="field">
          <label for="user_email">Email:</label><br />
          <input type="email" id="user_email" name="user[email]" autofocus="true" autocomplete="email" />
        </div>
        <br /> <br />

        <div class="field">
          <label for="user_phone_number">Phone Number:</label><br />
          <input type="text" id="user_phone_number" name="user[phone_number]" autofocus="true" />
        </div>
        <br /> <br />

        <div class="field">
          <label for="user_password">Password:</label><br />
          <input type="password" id="user_password" name="user[password]" autocomplete="new-password" />
        </div>
        <br /> <br />

        <div class="field">
          <label for="user_password_confirmation">Password Confirmation:</label><br />
          <input type="password" id="user_password_confirmation" name="user[password_confirmation]" autocomplete="new-password" />
        </div>
        <br /> <br />

        <div class="actions signup">
          <button type="submit" >Sign up</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
